.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.name{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
.logo{
    color: #4E47FF;
    font-size: 34px;
    width: 132px; height: 48px;
    padding: 12px 36px;
    gap: 10px;
    margin: 0px;
}
/* button styles */
.btn{
    background-color: #4E47FF;
    color: white;
    gap: 10px;
    border-radius: 10px;
    width: 132px; height: 48px;
    padding: 12px 36px;
    font-size: 16px;
}
.second-btn{
    background-color: #4E47FF;
    color: white;
    gap: 16px;
    border-radius: 10px;
    width: 174px; height: 48px;
    padding: 12px 36px;
    font-size: 16px;
    margin: 37px 365px;
}
.third-btn{
    background-color: #4E47FF;
    color: white;
    gap: 10px;
    border-radius: 10px;
    width: 229px; height: 48px;
    padding: 12px 36px;
    font-size: 16px;
    
}

/* div styles */
.first{
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    text-align: center;
    width: 905px; height: 152px;
    
}
.second{
    width: 905px; height: 237px;
    padding: 267.5px 309px 152px;
    max-width: 905px;
}
/* header image style */



/* main style */
.main{
    display: flex;
    justify-content: space-between;
    width: 1140px; height: 328px;
    padding: 116px 159px 116px 141px;
    max-width: 1140px;
}

.para-one{
    font-size: 24px;
    width: 517px; height: 60px;
    color: #252432;
}
.one{
    font-size: 42px;
}

.image{
    width: 403px; height: 328px;
    border-radius: 48px;
    margin-left: 600px;
}
